<p>Ask your coach anything:</p>
<form action="/answer" method="get" class="col-6 d-flex">
  <input type="text" name="question" class="form-control input-group-text">
  <input type="submit" value="Ask!" class="btn btn-primary">
</form>