// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.block {
  border-left: 4px solid lightgray;
  padding-left: 16px;
  margin: 8px;
  &.answer {
    background-color: #FFFFE1;
    padding: 4px  16px;
  }
}
